<h1>Order {{order.id}} Details</h1>
<div>
  <label>id :
    <input [(ngModel)]="order.id" placeholder="Id">
  </label>
</div>
<div>
  <label>customerId :
    <input [(ngModel)]="order.customerId" placeholder="customerId">
  </label>
</div>
<div>
  <label>orderDate :
    <input [(ngModel)]="order.orderDate" placeholder="orderDate">
  </label>
</div>
<div>
  <label>paid :
    <input [(ngModel)]="order.paid" placeholder="paid">
  </label>
</div>
<div>
  <label>paidDate :
    <input [(ngModel)]="order.paidDate" placeholder="paidDate">
  </label>
</div>
