<h2>My Products </h2>
<ul class="products">
  <li [class.selected]="product === selectedProduct" *ngFor="let product of products" (click)="onSelect(product)">
    <span class="badge"> {{product.sku}}</span> {{product.productName}}
  </li>
</ul>

<div *ngIf="selectedProduct">
  <h2>{{selectedProduct.sku | uppercase }} Details </h2>
  <div> <span> id : </span> {{selectedProduct.id}}</div>
  <div>
    <label> Product Name :
      <input [(ngModel)]="selectedProduct.productName" placeholder="productName">
    </label>
  </div>
  <div>
    <label> Product Description :
      <input [(ngModel)]="selectedProduct.productDesc" placeholder="productDesc">
    </label>
  </div>
</div>
