<h1>Product {{product.id}} Details</h1>
<div>
  <label> id:
    <input [(ngModel)]="product.id" placeholder="Id">
  </label>
</div>
<div>
  <label> sku:
    <input [(ngModel)]="product.sku" placeholder="sku">
  </label>
</div>
<div>
  <label> productName:
    <input [(ngModel)]="product.productName" placeholder="productName">
  </label>
</div>
<div>
  <label> productDesc:
    <input [(ngModel)]="product.productDesc" placeholder="productDesc">
  </label>
</div>
<div>
  <label> categoryId:
    <input [(ngModel)]="product.categoryId" placeholder="categoryId">
  </label>
</div>
<div>
  <label> price:
    <input [(ngModel)]="product.price" placeholder="price">
  </label>
</div>

