<h1>Welcome {{customer.firstName}}</h1>
<div>
  <label> id :
    <input [(ngModel)]="customer.id" placeholder="Id">
  </label>
</div>
<div>
  <label> First Name:
    <input [(ngModel)]="customer.firstName" placeholder="FirstName">
  </label>
</div>
<div>
  <label> Last Name :
    <input [(ngModel)]="customer.lastName" placeholder="LastName">
  </label>
</div>
<div>
  <label> Address Line 1 :
    <input [(ngModel)]="customer.address1" placeholder="address1">
  </label>
</div>
<div>
  <label> Address Line 2 :
    <input [(ngModel)]="customer.address2" placeholder="address2">
  </label>
</div>
<div>
  <label> Phone :
    <input [(ngModel)]="customer.phone" placeholder="Phone">
  </label>
</div>
<div>
  <label> Email :
    <input [(ngModel)]="customer.email" placeholder="Email">
  </label>
</div>
